[enu]
codepage=1252
R_line_color_name=Line color
R_line_width_name=Line width
R_line_style_name=Line style
R_number_of_periods_name=Number of periods
R_number_of_periods_desciption=The number of periods.
R_overbought_level_name=Overbought level
R_overbought_level_description=The overbought level.
R_oversold_level_name=Oversold level
R_oversold_level_description=The oversold level.
R_overbought_oversold_name=Level lines
R_overbought_oversold_description=overbought/oversold levels
R_error_bought_bigger_sold=The overbought level must be greater than the oversold level.
R_color_of_PARAM_name=%s Color
R_width_of_PARAM_name=%s Width
R_style_of_PARAM_name=%s Style
R_color_of_PARAM_description=The color of the %s.
R_width_of_PARAM_description=The width of the %s.
R_style_of_PARAM_description=The style of the %s.

[rus]
codepage=1251
R_line_color_name=Цвет линии
R_line_width_name=Ширина линии
R_line_style_name=Стиль линии
R_number_of_periods_name=Количество периодов
R_number_of_periods_desciption=Количество периодов.
R_overbought_level_name=Уровень перекупленности
R_overbought_level_description=Уровень перекупленности.
R_oversold_level_name=Уровень перепроданности
R_oversold_level_description=Уровень перепроданности.
R_overbought_oversold_name=линий уровней
R_overbought_oversold_description=линий уровней перекупленности/перепроданности
R_error_bought_bigger_sold=Уровень перекупленности должен быть выше уровня перепроданности.
R_color_of_PARAM_name=Цвет %s
R_width_of_PARAM_name=Ширина %s
R_style_of_PARAM_name=Стиль %s
R_color_of_PARAM_description=Цвет %s.
R_width_of_PARAM_description=Ширина %s.
R_style_of_PARAM_description=Стиль %s.

[ara]
codepage=1256
R_line_color_name=لون الخط
R_line_width_name=عرض الخط
R_line_style_name=نوع الخط
R_number_of_periods_name=عدد الفترات
R_number_of_periods_desciption=عدد الفترات
R_overbought_level_name=مستوى زيادة الشراء
R_overbought_level_description=مستوى زيادة الشراء
R_oversold_level_name=مستوى زيادة البيع
R_oversold_level_description=مستوى زيادة البيع
R_overbought_oversold_name=الخط للمستوى
R_overbought_oversold_description=مستويات زيادة الشراء/زيادة البيع
R_error_bought_bigger_sold=ثابت زيادة الشراء يجب أن يكون أكبر من زيادة البيع.
R_color_of_PARAM_name=لون %s
R_width_of_PARAM_name=عرض %s
R_style_of_PARAM_name=نوع %s
R_color_of_PARAM_description=لون %s.
R_width_of_PARAM_description=عرض %s.
R_style_of_PARAM_description=نوع %s.

[chs]
codepage=936
R_line_color_name=线颜色
R_line_width_name=线宽度
R_line_style_name=线样式
R_number_of_periods_name=时期数目
R_number_of_periods_desciption=时期数目
R_overbought_level_name=超买水平
R_overbought_level_description=超买的水平
R_oversold_level_name=超卖水平
R_oversold_level_description=超卖的水平
R_overbought_oversold_name=水平线
R_overbought_oversold_description=超买/超卖水平的线
R_error_bought_bigger_sold=超买水平的参数必须大于超卖水平
R_color_of_PARAM_name=%s颜色
R_width_of_PARAM_name=%s的宽度
R_style_of_PARAM_name=%s样式
R_color_of_PARAM_description=%s颜色
R_width_of_PARAM_description=%s宽度
R_style_of_PARAM_description=%s样式

[cht]
codepage=950
R_line_color_name=線顏色
R_line_width_name=線寬度
R_line_style_name=線樣式
R_number_of_periods_name=時期數目
R_number_of_periods_desciption=時期數目
R_overbought_level_name=超買水平
R_overbought_level_description=超買的水平
R_oversold_level_name=超賣水平
R_oversold_level_description=超賣的水平
R_overbought_oversold_name=水平線
R_overbought_oversold_description=超買/超賣水平的線
R_error_bought_bigger_sold=超買水平的參數必須大於超賣水平
R_color_of_PARAM_name=%s顏色
R_width_of_PARAM_name=%s寬度
R_style_of_PARAM_name=%s樣式
R_color_of_PARAM_description=%s顏色
R_width_of_PARAM_description=%s的寬度
R_style_of_PARAM_description=%s樣式

[ctt]
codepage=950
R_line_color_name=線顏色
R_line_width_name=
R_line_style_name=
R_number_of_periods_name=時期數目
R_number_of_periods_desciption=時期數目
R_overbought_level_name=
R_overbought_level_description=
R_oversold_level_name=
R_oversold_level_description=
R_overbought_oversold_name=
R_overbought_oversold_description=
R_error_bought_bigger_sold=
R_color_of_PARAM_name=
R_width_of_PARAM_name=
R_style_of_PARAM_name=
R_color_of_PARAM_description=
R_width_of_PARAM_description=
R_style_of_PARAM_description=

[kor]
codepage=949
R_line_color_name=
R_line_width_name=
R_line_style_name=
R_number_of_periods_name=기간의 개수
R_number_of_periods_desciption=기간의 개수
R_overbought_level_name=
R_overbought_level_description=
R_oversold_level_name=
R_oversold_level_description=
R_overbought_oversold_name=
R_overbought_oversold_description=
R_error_bought_bigger_sold=
R_color_of_PARAM_name=
R_width_of_PARAM_name=
R_style_of_PARAM_name=
R_color_of_PARAM_description=
R_width_of_PARAM_description=
R_style_of_PARAM_description=

[cze]
codepage=1250
R_line_color_name=Barva linky
R_line_width_name=Šíře linky
R_line_style_name=Styl linky
R_number_of_periods_name=Barva linky
R_number_of_periods_desciption=Počet period.
R_overbought_level_name=Úroveň překoupení
R_overbought_level_description=Úroveň překoupení
R_oversold_level_name=Úroveň přeprodání
R_oversold_level_description=Úroveň přeprodání.
R_overbought_oversold_name=úrovňových linek
R_overbought_oversold_description=překoupených/přeprodaných úrovní
R_error_bought_bigger_sold=Parametr překoupení musí být větší než přeprodání.
R_color_of_PARAM_name=Barva %s
R_width_of_PARAM_name=Šíře %s
R_style_of_PARAM_name=Styl %s
R_color_of_PARAM_description=Barva %s.
R_width_of_PARAM_description=Šíře %s.
R_style_of_PARAM_description=Styl %s.

[deu]
codepage=1252
R_line_color_name=Linienfarbe
R_line_width_name=Linienbreite
R_line_style_name=Linienstil
R_number_of_periods_name=Anzahl der Perioden
R_number_of_periods_desciption=Anzahl der Perioden
R_overbought_level_name=Überkauftes Level
R_overbought_level_description=Das überkaufte Level
R_oversold_level_name=Überverkauftes Level
R_oversold_level_description=Das überverkaufte Level
R_overbought_oversold_name=Level der Linien
R_overbought_oversold_description=überkauften und überverkauften Bereichs
R_error_bought_bigger_sold=Der überkaufte Parameter muss größer als überverkauft sein
R_color_of_PARAM_name=%s Farbe
R_width_of_PARAM_name=%s Breite
R_style_of_PARAM_name=%s Stil
R_color_of_PARAM_description=Die Farbe der %s.
R_width_of_PARAM_description=Die Breite der %s.
R_style_of_PARAM_description=Der Stil der %s.

[fra]
codepage=1252
R_line_color_name=Couleur de la ligne
R_line_width_name=Largeur de la ligne
R_line_style_name=Style de la ligne
R_number_of_periods_name=Nombre de périodes
R_number_of_periods_desciption=Nombre de périodes
R_overbought_level_name=Niveau de surachat
R_overbought_level_description=Le niveau de surachat
R_oversold_level_name=Niveau de survente
R_oversold_level_description=Le niveau de survente
R_overbought_oversold_name=lignes de niveau
R_overbought_oversold_description=niveaux de surachat/survente
R_error_bought_bigger_sold=Le paramètre de surachat doit être supérieur à celui de survente
R_color_of_PARAM_name=Couleur du %s
R_width_of_PARAM_name=Largeur de la %s
R_style_of_PARAM_name=Style de la %s
R_color_of_PARAM_description=La couleur de la %s.
R_width_of_PARAM_description=La largeur de la %s.
R_style_of_PARAM_description=Le style de la %s.

[gre]
codepage=1253
R_line_color_name=Χρώμα γραμμής
R_line_width_name=Πλάτος γραμμής
R_line_style_name=Στυλ γραμμής
R_number_of_periods_name=Αριθμός περιόδων
R_number_of_periods_desciption=Ο αριθμός των περιόδων.
R_overbought_level_name=Υπεραγωρασμένο επίπεδο
R_overbought_level_description=Το υπεραγωρασμένο επίπεδο
R_oversold_level_name=Υπερπωλημένο εππεδο
R_oversold_level_description=Το υπερπωλημένο εππεδο
R_overbought_oversold_name=γραμμών επιπέδου
R_overbought_oversold_description=γραμμής υπεραγoρασμένου/υπερπουλημένου επιπέδου
R_error_bought_bigger_sold=Η παράμετρος της υπεραγωράς πρέπει να είναι μεγαλύτερη από της υπερπώλησης
R_color_of_PARAM_name=Χρώμα %s
R_width_of_PARAM_name=Πλάτος %s
R_style_of_PARAM_name=Στυλ %s
R_color_of_PARAM_description=Το χρώμα της %s.
R_width_of_PARAM_description=Το πάχος της %s.
R_style_of_PARAM_description=Το στυλ της %s.

[heb]
codepage=1255
R_line_color_name=צבע הקו
R_line_width_name=רוחב הקו
R_line_style_name=סגנון הקו
R_number_of_periods_name=מספר התקופות
R_number_of_periods_desciption=מספר התקופות.
R_overbought_level_name=רמת קניית-יתר
R_overbought_level_description=רמת קניית היתר.
R_oversold_level_name=רמת מכירת-יתר
R_oversold_level_description=רמת מכירת-היתר
R_overbought_oversold_name=קווי רמה
R_overbought_oversold_description=קווי רמות מכירת-יתר\קניית-יתר
R_error_bought_bigger_sold=משתנה קניית-היתר חייב להיות גדול ממשתנה מכירת-היתר
R_color_of_PARAM_name=צבע %s
R_width_of_PARAM_name=רוחב %s
R_style_of_PARAM_name=סגנון %s
R_color_of_PARAM_description=צבע %s.
R_width_of_PARAM_description=רוחב %s.
R_style_of_PARAM_description=סגנון %s.

[ita]
codepage=1252
R_line_color_name=Colore linea
R_line_width_name=Spessore linea
R_line_style_name=Stile linea
R_number_of_periods_name=Numero di periodi
R_number_of_periods_desciption=Numero di periodi
R_overbought_level_name=Livello di ipercomprato
R_overbought_level_description=Il livello di ipercomprato
R_oversold_level_name=Livello di ipervenduto
R_oversold_level_description=Il livello di ipervenduto
R_overbought_oversold_name=linee di livello
R_overbought_oversold_description=livelli di ipercomprato/ipervenduto
R_error_bought_bigger_sold=Il parametro di ipercomprato deve essere maggiore di quello di ipervenduto
R_color_of_PARAM_name=Colore %s
R_width_of_PARAM_name=Spessore %s
R_style_of_PARAM_name=Stile %s
R_color_of_PARAM_description=Il colore della %s.
R_width_of_PARAM_description=Lo spessore della %s.
R_style_of_PARAM_description=Lo stile della %s.

[jpn]
codepage=932
R_line_color_name=ラインの色
R_line_width_name=ラインの幅
R_line_style_name=ラインのスタイル
R_number_of_periods_name=期間数
R_number_of_periods_desciption=期間数
R_overbought_level_name=買われすぎ水準
R_overbought_level_description=買われすぎの水準
R_oversold_level_name=売られすぎ水準
R_oversold_level_description=売られすぎの水準
R_overbought_oversold_name=水準ライン
R_overbought_oversold_description=買われすぎ/売られすぎ水準ライン
R_error_bought_bigger_sold=買いすぎレベルは売りすぎレベルより上でなくてはならない
R_color_of_PARAM_name=%sの色
R_width_of_PARAM_name=%sの幅
R_style_of_PARAM_name=%sのスタイル
R_color_of_PARAM_description=%sの色
R_width_of_PARAM_description=%sの幅
R_style_of_PARAM_description=%sのスタイル

[tur]
codepage=1254
R_line_color_name=Çizgi rengi
R_line_width_name=Çizgi kalınlığı
R_line_style_name=Çizgi biçimi
R_number_of_periods_name=Periyot sayısı
R_number_of_periods_desciption=Periyot sayısı.
R_overbought_level_name=Aşırı alış seviyesi
R_overbought_level_description=Aşırı alış seviyesi.
R_oversold_level_name=Aşırı satış seviyesi
R_oversold_level_description=Aşırı satış seviyesi.
R_overbought_oversold_name=Seviye çizgilerinin
R_overbought_oversold_description=Aşırı alış/aşırı satış seviye çizgilerinin
R_error_bought_bigger_sold=Aşırı alış parametresi aşırı satıştan büyük olmalı.
R_color_of_PARAM_name=%s Rengi
R_width_of_PARAM_name=%s kalınlığı
R_style_of_PARAM_name=%s biçimi
R_color_of_PARAM_description=%s rengi.
R_width_of_PARAM_description=%s kalınlığı.
R_style_of_PARAM_description=%s biçimi.

[pol]
codepage=1250
R_line_color_name=Kolor lini
R_line_width_name=Szerokość lini
R_line_style_name=Styl lini
R_number_of_periods_name=Liczba okresów
R_number_of_periods_desciption=Liczba okresów
R_overbought_level_name=Poziom wykupienia
R_overbought_level_description=Poziom wykupienia.
R_oversold_level_name=Poziom wyprzedania
R_oversold_level_description=Poziom wyprzedania.
R_overbought_oversold_name=linii poziomych
R_overbought_oversold_description=linii poziomów wykupienia/wyprzedania
R_error_bought_bigger_sold=Wysokość poziomu wykupienia musi być większa, niż poziomu wyprzedania
R_color_of_PARAM_name=Kolor %s
R_width_of_PARAM_name=Szerokośc %s
R_style_of_PARAM_name=Styl %s
R_color_of_PARAM_description=Kolor %s.
R_width_of_PARAM_description=Szerokość %s.
R_style_of_PARAM_description=Styl %s.

[por]
codepage=1252
R_line_color_name=Cor da linha
R_line_width_name=Largura de linha
R_line_style_name=Estilo de linha
R_number_of_periods_name=Número de períodos
R_number_of_periods_desciption=Número de períodos
R_overbought_level_name=Nível sobre-comprado.
R_overbought_level_description=O nível sobre-comprado.
R_oversold_level_name=Nível sobre-vendido.
R_oversold_level_description=O nível sobre-vendido.
R_overbought_oversold_name=linhas de níveis
R_overbought_oversold_description=níveis sobre-comprados/sobre-vendidos
R_error_bought_bigger_sold=O parâmetro sobre-comprado deve ser maior do que sobre-vendido.
R_color_of_PARAM_name=Cor do %s
R_width_of_PARAM_name=Largura da %s
R_style_of_PARAM_name=Estilo da %s
R_color_of_PARAM_description=A cor da %s.
R_width_of_PARAM_description=A largura da %s.
R_style_of_PARAM_description=O estilo da %s.

[esp]
codepage=1252
R_line_color_name=Color de la línea
R_line_width_name=Amplitud de la línea
R_line_style_name=Estilo de la línea
R_number_of_periods_name=Número de periodos
R_number_of_periods_desciption=El Número de periodos
R_overbought_level_name=Nivel de sobrecompra
R_overbought_level_description=El nivel de sobrecompra.
R_oversold_level_name=Nivel de sobreventa
R_oversold_level_description=El nivel de sobreventa.
R_overbought_oversold_name=nivel de las líneas
R_overbought_oversold_description=los niveles de sobrecompra/sobreventa
R_error_bought_bigger_sold=El parámetro de sobrecompra debe de ser mayor que el parámetro de sobreventa.
R_color_of_PARAM_name=Color de la %s
R_width_of_PARAM_name=Amplitud de la %s
R_style_of_PARAM_name=Estilo de la %s
R_color_of_PARAM_description=El color de la %s.
R_width_of_PARAM_description=La amplitud de la %s.
R_style_of_PARAM_description=Estilo de la %s.

[hun]
codepage=0
R_line_color_name=Vonal szín
R_line_width_name=Vonal vastagsága
R_line_style_name=Vonal stílusa
R_number_of_periods_name=Periódusok száma
R_number_of_periods_desciption=A periódusok száma
R_overbought_level_name=Túlvett szint
R_overbought_level_description=A túlvett szint
R_oversold_level_name=Túladott szint
R_oversold_level_description=A túladott szint
R_overbought_oversold_name=Szintvonalak
R_overbought_oversold_description=túlvett/túladott szintek 
R_error_bought_bigger_sold=A túlvett szint legyen magasabb, mint a túladott szint.
R_color_of_PARAM_name=%s Szín
R_width_of_PARAM_name=%s Width
R_style_of_PARAM_name=%s Style
R_color_of_PARAM_description=A %s színe
R_width_of_PARAM_description=A %s szélessége
R_style_of_PARAM_description=A %s stílusa

