include=common.lua.rc
default=enu
[enu]
codepage=1252
name=Elliot Wave Oscillator
description=Measures the rate of price change in one wave against the rate of change in another wave.
param_FN_name=Fast Moving Average
param_FN_description=The number of periods for Fast Moving Average.
param_SN_name=Slow Moving Average
param_SN_description=The number of periods for Slow Moving Average.
param_Source_name=Price source
param_Source_description=The price source.
param_Source_valueM3=Median (H+L+C)/3
param_Source_valueM2=Median (H+L)/2
param_Source_valueC=Close
param_Smooth_name=Smoothing method
param_Smooth_description=The methods marked by an asterisk (*) require the appropriate indicators to be loaded.
param_UPG_name=Up growing
param_UPG_desc=up growing EWO
param_UPF_name=Up falling
param_UPF_desc=up falling EWO
param_DNG_name=Down growing
param_DNG_desc=down growing EWO
param_DNF_name=Down falling
param_DNF_desc=down falling EWO

[ara]
codepage=1256
name=موجات أليوت المذبذب
description=يقيس معدل التغير في الأسعار في موجة واحدة مقابل معدل التغير في موجة أخرى.
param_FN_name=المتوسط المتحرك السريع
param_FN_description=عدد الفترات للمتوسط المتحرك السريع
param_SN_name=المتوسط المتحرك البطيء
param_SN_description=عدد الفترات للمتوسط المتحرك البطيء
param_Source_name=مصدر السعر
param_Source_description=مصدر السعر
param_Source_valueM3=الوسيط (الأعلى + الأدنى + الإغلاق) / 3
param_Source_valueM2=الوسيط (الأعلى + الأدنى) / 2
param_Source_valueC=الإغلاق
param_Smooth_name=أسلوب التجانس
param_Smooth_description=أساليب المعلمة بالنجمة (*) تتطلب المؤشرات المناسبة لتحميلها.
param_UPG_name=الصاعد
param_UPG_desc=الصاعد لـ EWO
param_UPF_name=الهابط
param_UPF_desc=الهابط لـ EWO
param_DNG_name=الانخفاض المتزايد
param_DNG_desc=الانخفاض المتزايد لـ EWO
param_DNF_name=الانخفاض الهابط
param_DNF_desc=الانخفاض الهابط لـ EWO

[chs]
codepage=936
name=艾略特波浪摆荡指标
description=量度浪与浪的价格变化率
param_FN_name=快移动平均线
param_FN_description=快移动平均线时期
param_SN_name=慢移动平均线
param_SN_description=慢移动平均线时期
param_Source_name=价格来源
param_Source_description=价格来源
param_Source_valueM3=中位数 (H+L+C)/3
param_Source_valueM2=中位数 (H+L)/2
param_Source_valueC=收市价
param_Smooth_name=平滑法
param_Smooth_description=被标记了星号(*)的方法需要先载入适当的指标
param_UPG_name=向上增加
param_UPG_desc=EWO向上增加
param_UPF_name=向上下降
param_UPF_desc=EWO向上下降
param_DNG_name=向下增加
param_DNG_desc=EWO向下增加
param_DNF_name=向下下降
param_DNF_desc=EWO向下下降

[cht]
codepage=950
name=艾略特波浪擺盪指標
description=量度浪與浪的價格變化率
param_FN_name=快移動平均線
param_FN_description=快移動平均線時期
param_SN_name=慢移動平均線
param_SN_description=慢移動平均線時期
param_Source_name=價格來源
param_Source_description=價格來源
param_Source_valueM3=中位數 (H+L+C)/3
param_Source_valueM2=中位數 (H+L)/2
param_Source_valueC=收市價
param_Smooth_name=平滑法
param_Smooth_description=被標記了星號(*)的方法需要先載入適當的指標
param_UPG_name=向上增加
param_UPG_desc=EWO向上增加
param_UPF_name=向上下降
param_UPF_desc=EWO向上下降
param_DNG_name=向下增加
param_DNG_desc=EWO向下增加
param_DNF_name=向下下降
param_DNF_desc=EWO向下下降

[ctt]
codepage=950
name=艾略特波浪擺盪指標
description=
param_FN_name=
param_FN_description=
param_SN_name=
param_SN_description=
param_Source_name=
param_Source_description=
param_Source_valueM3=
param_Source_valueM2=
param_Source_valueC=
param_Smooth_name=
param_Smooth_description=

[deu]
codepage=1252
name=Elliot Wave Oszillator
description=Beihilfe bei der Messung der in einer Welle sich befindlichen Preisänderungsrate gegen deren einer anderen Welle
param_FN_name=Gleitender Durchschnitt (schnell)
param_FN_description=Zahl der Perioden von gleitenden Durschnitten
param_SN_name=Gleitender Durchschnitt (langsam)
param_SN_description=Zahl der Perioden von gleitenden Durschnitten
param_Source_name=Preisquelle
param_Source_description=Preisquelle
param_Source_valueM3=Median (H+L+C)/3
param_Source_valueM2=Median (H+L)/2
param_Source_valueC=Schluss
param_Smooth_name=Glättungsmethode
param_Smooth_description=Die mit dem Asterisk gekennzeichneten Methoden benötigen das Laden der angemessenen Indikatoren.
param_UPG_name=Obige Growing
param_UPG_desc=sich erweiternden EWOs
param_UPF_name=Obige Rueckgangs
param_UPF_desc=obigen sich vermindernden EWOs
param_DNG_name=Untere Growing
param_DNG_desc=unteren sich erweiternden EWOs
param_DNF_name=Untere Rueckgangs
param_DNF_desc=unteren sich vermindernden EWOs

[esp]
codepage=1252
name=Oscilador de ondas Elliot
description=Mide la tasa de variación de precios en una ola en contra de la tasa de cambio en otra onda.
param_FN_name=Promedio Móvil Rápido
param_FN_description=El numero de periodos para el Promedio Móvil Rápido
param_SN_name=Promedio Móvil Lento
param_SN_description=El numero de periodos para el Promedio Móvil Lento
param_Source_name=Fuente de precio
param_Source_description=La fuente de precio
param_Source_valueM3=Media (H+L+C)/3
param_Source_valueM2=Media (H+L)/2
param_Source_valueC=Cerrar
param_Smooth_name=Método suavizado
param_Smooth_description=El método marcado con asterisco (*) requiere que el indicador apropiado sea cargado.
param_UPG_name=aumento superior
param_UPG_desc=aumento superior EWO
param_UPF_name=descenso superior
param_UPF_desc=descenso superior EWO
param_DNG_name=aumento inferior
param_DNG_desc=aumento inferior EWO
param_DNF_name=descenso inferior
param_DNF_desc=descenso inferior EWO

[fra]
codepage=1252
name=Oscillateur de vague d'Elliott
description=Mesure le taux de changement de prix en une vague par rapport au taux de changement dans une autre vague
param_FN_name=Moyenne Mobile Rapide
param_FN_description=Le nombre de périodes pour la Moyenne Mobile Rapide
param_SN_name=Moyenne Mobile Lente
param_SN_description=Le nombre de périodes pour la Moyenne Mobile Lente
param_Source_name=Source des prix
param_Source_description=La source du prix
param_Source_valueM3=Médiane (H+L+C)/3
param_Source_valueM2=Médiane (H+L)/2
param_Source_valueC=Fermer
param_Smooth_name=Méthode de lissage
param_Smooth_description=La méthode marquée par une astérisque(*) nécessite que les indicateurs appropriés soient chargés
param_UPG_name=d'accroissement pour les barres du haut
param_UPG_desc=barres d'accroissement du haut de l'EWO
param_UPF_name=décroissance pour les barres du haut
param_UPF_desc=barres de décroissance du haut de l'EWO
param_DNG_name=d'accroissement pour les barres du bas
param_DNG_desc=barres d'accroissement du bas de l'EWO
param_DNF_name=décroissance pour les barres du bas
param_DNF_desc=décroissance pour les barres du bas de l'EWO

[jpn]
codepage=932
name=エリオット・ウェーブ・オシレーター（相対性指数）
description=エリオット・ウェーブ・オシレーター（相対性指数）
param_FN_name=高速移動平均線
param_FN_description=高速移動平均線の期間の数。
param_SN_name=低速移動平均線
param_SN_description=低速移動平均線の期間の数。
param_Source_name=価格の源
param_Source_description=価格の源。
param_Source_valueM3=中間値 (H+L+C)/3
param_Source_valueM2=中間値 (H+L)/2
param_Source_valueC=クローズ
param_Smooth_name=平滑化の方法
param_Smooth_description=アスタリスク(*)にてマークされたメソッドは適切なインディケーターが読み込まれている必要があります。
param_UPG_name=上昇グロー
param_UPG_desc=上昇グロー（EWO）
param_UPF_name=上昇フォール
param_UPF_desc=上昇フォール（EWO）
param_DNG_name=下降グロー
param_DNG_desc=下降グロー（EWO）
param_DNF_name=下降フォール
param_DNF_desc=下降フォール（EWO）

[kor]
codepage=949
name=EWO (Elliot Wave Oscillator)
description=
param_FN_name=
param_FN_description=
param_SN_name=
param_SN_description=
param_Source_name=
param_Source_description=
param_Source_valueM3=
param_Source_valueM2=
param_Source_valueC=
param_Smooth_name=
param_Smooth_description=

[rus]
codepage=1251
name=Осциллятор волны Эллиота
description=Измеряет уровень изменения цен в одной волне относительно уровня изменения цен в другой волне.
param_FN_name=Быстрое скользящее среднее
param_FN_description=Количество периодов для быстрого скользящего среднего.
param_SN_name=Медленное скользящее среднее
param_SN_description=Количество периодов для медленного скользящего среднего.
param_Source_name=Цена для расчета
param_Source_description=Цена для расчета.
param_Source_valueM3=Средняя (Мин+Макс+Закрытия)/3
param_Source_valueM2=Средняя (Мин+Макс)/2
param_Source_valueC=Закрытия
param_Smooth_name=Метод сглаживания
param_Smooth_description=Методы, отмеченные звездочкой (*), требуют загрузки соответствующих индикаторов.
param_UPG_name=возрастающего EWO
param_UPG_desc=возрастающего EWO
param_UPF_name=возрастающего EWO при убывании
param_UPF_desc=возрастающего EWO при убывании
param_DNG_name=убывающего EWO
param_DNG_desc=убывающего EWO
param_DNF_name=убывающего EWO при возрастании
param_DNF_desc=убывающего EWO при возрастании

[tur]
codepage=1254
name=Elliot Dalgaları Osilatörü
description=Bir dalgadaki fiyat değişiminin, diğer bir dalgadaki fiyat değişimine oranını ölçer.
param_FN_name=Hızlı Hareketli Ortalama
param_FN_description=Hızlı Hareketli Ortalama periyotunun sayısı
param_SN_name=Yavaş Hareketli Ortalama
param_SN_description=Yavaş Hareketli Ortalama periyotunun sayısı
param_Source_name=Fiyat kaynağı
param_Source_description=Fiyat kaynağı
param_Source_valueM3=Medyan (EY+ED+K)/3
param_Source_valueM2=Medyan (EY+ED)/2
param_Source_valueC=Kapanış
param_Smooth_name=Düzeltme yöntemi
param_Smooth_description=Yıldız işareti (*) olan yöntemlerde uygun göstergenin eklenmiş olması gerekmektedir.
param_UPG_name=Üst Yükseliş
param_UPG_desc=EWO göstergesinin üst yükseliş
param_UPF_name=Üst Düşüş
param_UPF_desc=EWO göstergesinin üst düşüş
param_DNG_name=Alt Yükseliş
param_DNG_desc=EWO göstergesinin alt yükseliş
param_DNF_name=Alt Düşüş
param_DNF_desc=EWO göstergesinin alt düşüş

[ita]
codepage=1252
name=Elliot Wave Oscillator
description=Misura il tasso di cambiamento del prezzo in un'onda rispetto il tasso di cambiamento in un'altra onda.
param_FN_name=Fast Moving Average
param_FN_description=Il numero di periodi per una Fast Moving Average
param_SN_name=Slow Moving Average
param_SN_description=Il numero di periodi per una Slow Moving Average
param_Source_name=Fonte del prezzo
param_Source_description=La fonte del prezzo
param_Source_valueM3=Median (H+L+C)/3
param_Source_valueM2=Median (H+L)/2
param_Source_valueC=Chiusura
param_Smooth_name=Smoothing method
param_Smooth_description=I metodi segnati con un asterisco richiedono che l'indicatore appropriato sia caricato
param_UPG_name=Up growing
param_UPG_desc=up growing EWO
param_UPF_name=Up falling
param_UPF_desc=up falling EWO
param_DNG_name=Down growing
param_DNG_desc=down growing EWO
param_DNF_name=Down falling
param_DNF_desc=down falling EWO

[heb]
codepage=1255
name=מתנד גלי אליוט
description=מחשב את היחס בין קצב שינויי המחיר בגל אחד לעומת קצב השינויי בגל אחר
param_FN_name=ממוצע נע מהיר
param_FN_description=מספר התקופות עבור הממוצע הנע המהיר
param_SN_name=ממוצע נע איטי
param_SN_description=מספר התקופות עבור הממוצע הנע האיטי
param_Source_name=מקור מחיר
param_Source_description=מקור המחיר
param_Source_valueM3=חציוני (H+L+C)/3
param_Source_valueM2=חציוני (H+L)/2
param_Source_valueC=סגירה
param_Smooth_name=שיטת החלקה
param_Smooth_description=השיטות המסומנות בכוכביות מחייבות הטענת אינדיקטורים מתאימים.
param_UPG_name=צמיחה עולה
param_UPG_desc=ה- EWO הצומח מעלה
param_UPF_name=צניחה מעלה
param_UPF_desc=ה- EWO הצונח מעלה
param_DNG_name=צניחה מטה
param_DNG_desc=ה- EWO הצומח מטה
param_DNF_name=הצניחה מטה
param_DNF_desc=ה- EWO הצונח מטה

[pol]
codepage=1250
name=Elliott Wave Oscillator
description=Mierzy tempo zmian cen w jednej fali w stosunku do innej fali.
param_FN_name=Szybka średnia krocząca
param_FN_description=Liczba okresów szybkiej średniej kroczącej.
param_SN_name=Wolna średnia krocząca
param_SN_description=Liczba okresów wolnej średniej kroczącej.
param_Source_name=Cena źródłowa
param_Source_description=Cena źródłowa.
param_Source_valueM3=Środkowa (H+L+C)/3
param_Source_valueM2=Środkowa (H+L)/2
param_Source_valueC=Zamknięcie
param_Smooth_name=Metoda wygładzania
param_Smooth_description=Metody zaznaczone odsyłaczem (*) wymagają załadowania odpowiedniego wskaźnika.
param_UPG_name=wzrostu w strefie dodatniej
param_UPG_desc=wzrostu EWO w strefie dodatniej
param_UPF_name=spadku w strefie dodatniej
param_UPF_desc=spadku EWO w strefie dodatniej
param_DNG_name=wzrostu w strefie ujemnej
param_DNG_desc=wzrostu EWO w strefie ujemnej
param_DNF_name=spadku w strefie ujemnej
param_DNF_desc=spadku EWO w strefie ujemnej

[cze]
codepage=1250
name=Oscilátor Elliotovy vlny
description=Měří změnu ceny v jedné vlně oproti jiné vlně
param_FN_name=Rychlý klouzavý průměr
param_FN_description=Počet period pro výpočet rychlého klouzavého průměru
param_SN_name=Pomalý klouzavý průměr
param_SN_description=Počet period pro výpočet pomalého klouzavého průměru
param_Source_name=Zdroj ceny
param_Source_description=Zdroj ceny
param_Source_valueM3=Medián (H+L+C)/3
param_Source_valueM2=Medián (H+L)/2
param_Source_valueC=Závěr
param_Smooth_name=Metoda vyhlazení
param_Smooth_description=Metody označené hvězdičkou (*) vyžadují načtení příslušných indikátorů
param_UPG_name=horního rostoucího EWO
param_UPG_desc=horního rostoucího EWO
param_UPF_name=horního klesajícího EWO
param_UPF_desc=horního klesajícího EWO
param_DNG_name=spodního rostoucího EWO
param_DNG_desc=spodního rostoucího EWO
param_DNF_name=spodního klesajícího EWO
param_DNF_desc=spodního klesajícího EWO

[por]
codepage=1252
name=Oscilador de ondas Elliot
description=Mede a taxa de variação de preço em uma onda contra a taxa de variação em outra onda.
param_FN_name=Média-Móvel Rápida
param_FN_description=O número de períodos para Média-Móvel Rápida.
param_SN_name=Média-Móvel Lenta
param_SN_description=O número de períodos para Média-Móvel Lenta.
param_Source_name=Fonte de preço
param_Source_description=A fonte de preço.
param_Source_valueM3=Mediana (H+L+C)/4
param_Source_valueM2=Mediana (H+L)/3
param_Source_valueC=Fechar
param_Smooth_name=Método de nivelação
param_Smooth_description=Os métodos marcados por um asterisco (*) requerem os indicadores apropriados a serem carregados.
param_UPG_name=Up crescente
param_UPG_desc=EWO up crescente
param_UPF_name=Up descrescente
param_UPF_desc=EWO up decrescente
param_DNG_name=Down crescente
param_DNG_desc=EWO down crescente
param_DNF_name=Down decrescente
param_DNF_desc=EWO down decrescente

[gre]
codepage=1253
name=Ταλαντωτής Elliot Wave
description=Υπολογίζει τον ποσοστό αλλαγής της τιμής σε ένα κύμα έναντι του ποσοστού αλλαγής σε ένα άλλο κύμα.
param_FN_name=Γρήγορος κινητός μέσος όρος
param_FN_description=Ο αριθμός των περιόδων του γρήγορου κινητού μέσου όρου
param_SN_name=Αργός κινητός μέσος όρος
param_SN_description=Ο αριθμός των περιόδων του αργού κινητού μέσου όρου
param_Source_name=Πηγή τιμής
param_Source_description=Η πιγή της τιμής
param_Source_valueM3=Μέσο (Υ+Χ+Κ)/3
param_Source_valueM2=Μέσο (Υ+Χ)/2
param_Source_valueC=Κλείσιμο
param_Smooth_name=Μέθοδος εξομάλυνσης
param_Smooth_description=Οι μέθοδοι που είναι επισημασμένοι με αστερίσκο (*) απαιτούν τους κατάλληλους δείκτες για να φορτωθούν.
param_UPG_name=Up growing
param_UPG_desc=up growing EWO
param_UPF_name=Up falling
param_UPF_desc=up falling EWO
param_DNG_name=Down growing
param_DNG_desc=down growing EWO
param_DNF_name=Down falling
param_DNF_desc=down falling EWO

[hun]
codepage=0
name=Elliot Hullám Oscillator
description=Egy hullám árfolyam változásának sebességét hasonlítja össze egy másik hullám árfolyamváltozása sebességével
param_FN_name=Gyors mozgóátlag periódusa
param_FN_description=A gyors mozgóátlag periódusainak száma
param_SN_name=Lassú mozgóátlag periódusa
param_SN_description=A lassú mozgóátlag periódusainak száma
param_Source_name=Árfolyamérték forrása
param_Source_description=Az árfolyamértékének forrása
param_Source_valueM3=Medián (H+L+C)/3
param_Source_valueM2=Medián (H+L)/2
param_Source_valueC=Záróár
param_Smooth_name=Kisímítási eljárás( smoothing)
param_Smooth_description=Az Asterisk(*) simítási eljárást használatához a megfelelő indikátorokat be kell tölteni.
param_UPG_name=Up growing
param_UPG_desc=up growing EWO
param_UPF_name=Up falling
param_UPF_desc=up falling EWO
param_DNG_name=Down growing
param_DNG_desc=down growing EWO
param_DNF_name=Down falling
param_DNF_desc=down falling EWO